/* Mater Styles */
html {
    background-color:#FFE4E1;
}

body {
    margin: 0px;
}
.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* Nav Styles */
.brand {
    color: #F08080;
    font-size: 1.2em;
    font-style: oblique;
}

.nav-wrapper {
    display:flex;
    justify-content: space-between;
    padding: 30px;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-left: 20px;
    font-size: 0.9em;
    font-style: italic;
    text-transform: uppercase;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
    font-weight: bold;
}

.nav-link-wrapper a {
    color: 	#F08080;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid #708090;
}

.nav-link-wrapper a:hover {
    color: #708090;
}

.active-nav-link {
    border-bottom: 1px solid #708090;
}

.active-nav-link a {
    color: #708090 !important;
}

/* Title Styles */
.title {
    font-size: 3em;
    color: #FFF5EE;
}

.project-title {
    color: #F08080;
    font-size: 1.5em;
    padding-left: 20px;
}

.title-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
}

.title-img-background {
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 300px;
    padding-right: 100px;
}

/* Portfolio Style */

.project-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-item-wrapper {
    position: relative;
}

.project-img-background {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.project-img-text-wrapper {
    position: absolute;
    top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.5em;
}

.link-wrapper {
    height: 40px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.link-wrapper a {
    color: white;
    text-decoration: none;
    transition: color 0.5s;
}

.link-wrapper:hover {
    border-bottom: 1px solid #708090;
}

.link-wrapper a:hover {
    color: #708090;
}

/* Tron Day/Lights Out/Graphing Robot Style */
.link-title {
    font-size: 1.5em;
    color: black;
    text-align: center;
    height: 30px;
    border-bottom: 1px solid grey;
}

.link-description {
    font-size: 1.2em;
    color: #708090;
    text-align: center;
}


/* About Page */
.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 85%;
    padding: 20px;
}

.profile-content-wrapper {
    padding: 20px;
}

.profile-content-wrapper h1 {
    color: #F08080;
}
